<!-- ********************* AMY TO DO *************************************  -->
  IF play that is entered into the peformance field is NOT already in the database:

  THEN display a list of all plays in database to make sure user did not mistype the play

    IF user did not mistype the play:

    THEN allow user to click submit button for the play they entered into the performance field originally

    ELSE if user did mistype the play:

    THEN allow user to select checkbox for correct play title from list and overright performance field entry

  ELSE if play IS already in the database

  THEN just add the new viewing object
<!-- ********************************************************************** -->
  
      <h2>Select plays to add to your viewings</h2>
      <!-- Checkbox, Theater and Date forms -->
      <div class="select-play">
        <%= form_tag('/viewings/create/multiple') do %>
        <% @unseen_plays.each do |play| %>
          <p>
            <%= check_box_tag "play_ids[]", play.id %>
            <i class="play-title">
              <%= play.title %>
            </i> 
            <span class="theater">
              <%= play.theater.name %>
            </span>
            <%= date_field("date", "#{play.id}") %>
          </p>
          <% end %>
          <p>
            <!-- Submit button -->
            <button id="input_2" type="submit" class="form-submit-button">
              SUBMIT
            </button> 
          </p> 
        <% end %>
      </div>

      <div class="select-add-theater">
        <h2>Don't see the play listed above? Add it!</h2>
        <%= render 'new_theater_play_form', theater: @theater, theaters: @theaters %>
      </div>