<h1>Final Ballot</h1>

<% if @ballot_status == "voting" %>
    <p>Check below for the final ballot. Once you submit the ballot, you cannot modify it.</p>

    <p>You can also vote for the TAG Board of Directors Candidates 2017-2018. This is a separate form that is not connected to this ballot.<br><a target="_blank" href="http://goo.gl/forms/4myFDUjC21eZ5slc2 ">Click here to vote for Board of Directors (opens a new window).</a></p>

    <% if current_user.has_submitted_final_ballot? %>
        <hr>
        <p>Your ballot has been submitted. Thanks again!</p>
    <% else %>

        <%= form_for :ballot, {url: ballots_path, html: {}} do |f| %>

            <div class="clear">
                <% @awards.each do |award| %>
                    <div class="finalBallotSection">
                        <h2 class="finalBallotSection__award">
                            <%= award.award_name %>
                        </h2>
                        <p><%= award.description %> </p>

                        <% noms = award.ballot_items.for_voting_period("2017") %>
                        <% noms = noms.sort_by &:display_name %>
                        <% noms.each do |ballot_item| %>
                            <label class="finalBallotSection__label">
                                <%= f.radio_button award.id, ballot_item.id %>
                                <%= ballot_item.display_name %>
                            </label>
                        <% end %>
                    </div>
                <% end %>
            </div>
            <%= f.submit "SUBMIT", class: "form-submit-button" %>

        <% end %>

    <% end %>
<% elsif @ballot_status == "closed" %>
    <p>Voting is now closed. See you at the awards ceremony!</p>
<% else %>
    <p>Final Ballots are not yet available. Please check back after you've received notification that nominations have been tallied.</p>
<% end %>