<% content_for(:title) do %>
  Nominations - Top Ten
<% end %>

<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!-- Header actions go here. -->
  </div>
</header>

<% @awards.each do |award| %>
  <header class="header">
    <h2>
      <%= award.award_name %>
      <%= link_to "(See all top nominations)", admin_award_path(award.id) %>    
    </h2>
  </header>

  <% if award.ballot_set? %>
    <div class="side-spacer">
      <p>Final ballot has been set:</p>
    </div>

    <%= render partial: "final_ballot_section", locals: {award: award} %>
  <% else %>
    <%= render partial: "ranked", locals: {award: award, limit: 10, ballot_builder: true} %>
  <% end %>

  <hr>
<% end %>