
<h1>New Play</h1>
<h2>If you don't see your play on the list below, add it to the list.</h2>
<%= select_tag "plays", options_from_collection_for_select(@plays, "id", "title") %>
<br>
<br>
<%= form_tag('/plays/create/:id') do %>
    <%= text_field("play", "title", placeholder: "Enter play title...") %>
    <%= select("play", "theater_id", Theater.all.collect {|t| [ t.name, t.id ] }, {prompt: 'Select Theater'}) %>
    <%= text_field("new_theater_name", placeholder: "Add new theater...") %>

    <input type="submit">
  <% end %>

<h1>New Theater</h1>
<h2>If you don't see your theater on the list below, add it to the list.</h2>
<%= select_tag "theaters", options_from_collection_for_select(@theaters, "id", "name") %>
<br>
<br>
<%= form_tag('/theaters/create') do %>
    <input type="text" name="name" placeholder="Enter Theater Name">
    <input type="submit">
<% end %>
