<html>
<head>
    <title>User Dashboard</title>
</head>
<body>
  <div class="clear title">
    <div class="col-12 title-box">
      <h2>Show Attendance <%= Time.now.strftime("%Y") %></h2>
    </div>
  </div>

  <div class="clear content">
    <div class="col-12 content-box">

      <%= form_for current_user, url: user_viewings_path do |f| %>
        <% @plays.each do |p| %>
          <p>
            <label>
              <%= f.check_box :viewings, {name: "user[viewings][]", id: nil, checked: current_user.has_viewed?(p)}, p.id, nil %>
              <strong><%= p.title %></strong> (at <%= p.theater.name %>)
            </label>
          </p>
        <% end %>

        <div class="submit-button"> 
          <p>
            <%= f.submit "SUBMIT", class: "form-submit-button" %>
          </p>
        </div>
      <% end %>

    </div>
  </div>

</body>
</html>