<h2>Begin Nominations</h2>

<p>You're almost there. To begin, please set a password for yourself. This way, you can log in later to make additions or changes to your ballot. You'll be able to use the same login information next year, to keep things easy.</p>

<%= form_tag "/users/set_password_via_token", method: "put" do %>
  <div class="field">
    <%= label_tag :password, "Define your password. (Must be at least 8 characters.)" %><br />

    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation, "Confirm the password by typing it in once more." %><br />
    <%= password_field_tag :password_confirmation %>
  </div>

  <div class="actions">
    <p><%= submit_tag "Submit" %></p>
  </div>
<% end %>


