<h2>Set your password</h2>

<%= form_tag "/users/set_password_via_token", method: "put" do %>
  <div class="field">
    <%= label_tag :password, "New password" %><br />

    <%= password_field_tag :password %>
  </div>

  <div class="field">
    <%= label_tag :password_confirmation, "Confirm new password" %><br />
    <%= password_field_tag :password_confirmation %>
  </div>

  <div class="actions">
    <%= submit_tag "Set my password" %>
  </div>
<% end %>


