<h1>Update Your Settings</h1>

<%= form_tag("/users/change_settings", method: "post") do %>

  Full name: <input type="text" name="full_name" value="<%= current_user.full_name%>"><br>
  <br>

  Username: <input type="text" name="username" value="<%= current_user.username %>"><br>
  <br>

  Email: <input type="text" name="email" value="<%= current_user.email %>"><br>
  <br>

  New Password: <input type="password" name="password"><br>
  <br>

  Confirm Password: <input type="password" name="confirm_password"><br>
  <br>

  <%= submit_tag("Save") %>
<% end %>