<h1>Update Your Settings</h1>

<%= form_tag("/users/change_settings", method: "post") do %>

  First name: <input type="text" name="first_name" value="<%= current_user.first_name%>"><br>
  <br>

  Last name: <input type="text" name="last_name" value="<%= current_user.last_name%>"><br>
  <br>

  Email: <input type="text" name="email" value="<%= current_user.email%>"><br>
  <br>

  <%= submit_tag("Save") %>
<% end %>