<% content_for(:title) do %>
  Voting Results
<% end %>

<header class="header">
  <h1 class="header__heading" id="page-title"><%= content_for(:title) %></h1>
  <div class="header__actions">
    <!-- Header actions go here. -->
    <%= link_to( "Continue", :admin_winners, class: "button",) %>
  </div>
</header>

<div class="side-spacer">

  <% @allscores.each do |award,ballot_scores| %>
  	<h3><%= award.award_name %></h3>
  	<table class="table--voting-results">
  		<tr>
  			<% if ballot_scores[0][0].nominee%>
  				<th>Nominee</th>
  			<% end %>
	  		<th>Play</th>
	  		<th>Score</th>
  		</tr>
		<% ballot_scores.each do |ballot_item,score| %>
			<tr>
				<% if ballot_item.nominee%>
  					<td><%= ballot_item.nominee %></td>
  				<% end %>
	  			<td><%= ballot_item.play.title %></td>
	  			<td><%= score %></td>
  			</tr>
  		<% end %>
  	</table>
  	<br>
  <% end %>


  <div>
    <%= link_to( "Continue", :admin_winners, class: "button",) %>
  </div>

</div>