<h1>Nomination Ballot</h1>

<!-- Award #3 - Best Actress

<input type="text" name="awards[3][nominations[0][theater]]" value="">
<input type="text" name="awards[3][nominations[0][show]]" value="">
<input type="text" name="awards[3][nominations[0][nominee]]" value="">
<input type="text" name="awards[3][nominations[0][role]]" value="">

<input type="text" name="awards[3][nominations[1][theater]]" value="">
<input type="text" name="awards[3][nominations[1][show]]" value="">
<input type="text" name="awards[3][nominations[1][nominee]]" value="">
<input type="text" name="awards[3][nominations[1][role]]" value="">

<input type="text" name="awards[3][nominations[2][theater]]" value="">
<input type="text" name="awards[3][nominations[2][show]]" value="">
<input type="text" name="awards[3][nominations[2][nominee]]" value="">
<input type="text" name="awards[3][nominations[2][role]]" value="">

<input type="text" name="awards[3][nominations[3][theater]]" value="">
<input type="text" name="awards[3][nominations[3][show]]" value="">
<input type="text" name="awards[3][nominations[3][nominee]]" value="">
<input type="text" name="awards[3][nominations[3][role]]" value="">

<input type="text" name="awards[3][nominations[4][theater]]" value="">
<input type="text" name="awards[3][nominations[4][show]]" value="">
<input type="text" name="awards[3][nominations[4][nominee]]" value="">
<input type="text" name="awards[3][nominations[4][role]]" value=""> -->

<!-- params
  3 =>
    nominations =>
      [
        {theater: "", nominee: "", show: "", role: ""},
        {theater: "", nominee: "", show: "", role: ""},
        {theater: "", nominee: "", show: "", role: ""},
        {theater: "", nominee: "", show: "", role: ""},
        {theater: "", nominee: "", show: "", role: ""}
      ]
  4 =>
    nominations =>
      [
        {theater: "", show: ""},
        {theater: "", show: ""},
        {theater: "", show: ""},
        {theater: "", show: ""},
        {theater: "", show: ""}


  nomination_hash[3]["nominations"][indexofguess0-4][:show]
      ] -->

<%= form_tag('/save_nominee') do %>
  <% @awards.each do |a| %>
    <%= a.award_name %><br>
    <% nomination_count = 0 %>
      <% while nomination_count <= 4 %>

        <input type="hidden" name="award_id" value="<%=a.id%>">
        <input type="hidden" name="nom_count" value="<%=nomination_count%>">
        <br> Theater:<br>
        <input type="text" name="nomination_hash[<%=a.id%>][nominations[<%=nomination_count%>][theater]]" value="">
        <br> Show:<br>
        <input type="text" name="nomination_hash[<%=a.id%>][nominations[<%=nomination_count%>][show]]" value="">
        <br> Nominee:<br>
        <input type="text" name="nomination_hash[<%=a.id%>][nominations[<%=nomination_count%>][nominee]]" value="">
        <br> Role: <br>
        <input type="text" name="nomination_hash[<%=a.id%>][nominations[<%=nomination_count%>][role]]" value="">
        <br>
        <br>
        <% nomination_count += 1 %>

      <% end %>

      <br>
  <% end %>
  <input type="submit" value="Save">
  <!-- ^ to replace wips in db and save current fields as final noms -->
<% end %>