<%if session[:nominations_closed] == false%>
<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
        <div class="headline">
          <h1>TAG Award Nominations 2016</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
        <a href="#" id="hide_award_category_text" style="display: none">Hide Award    Category Information</a>
    <br>
    <ul class="award_links" id="sticky_award_links">
      <div class="award_links_heading">
        Award Categories
      </div>
      <div class="award_links_instructions">
        Click on any Award Category on this list to get the nomination ballot for that category. No searching needed. Let the right section come to you. 
      </div>
      <% @awards.each do |award| %>
        <li><a class="award_link" href="#<%= award.label%>"><%= award.award_name%></a></li>
      <% end %>
    </ul>
    <div class="nominations_form">
      <a href="#" id="show_award_category_explanation" style="display: block">    Click Here for an Explanation of Award Categories</a>
      <div id="showAwardCategoryInfo" class="modal">
        <div class="modal-content">
          <span id="closeAwardInfo" class="close">×</span>
          <h2>Explanation of Award Categories</h2>
          <h3>Outstanding Musical/Drama/Comedy Productions</h3>
            For this award, judge the overall production quality, not the quality of the script, but rather the manner in which the production was presented (acting, costumes, makeup, props, sets, direction, lights, staging, etc.). Budget, facilities, theater size or professional staff, if any, should not   be a consideration.
          <h3>Outstanding Featured Actor/Actress</h3>
            “Featured” is defined as a small role, not considered a leading or    supporting role, but an outstanding, memorable, brief appearance on stage.
          <h3>Outstanding Special Event</h3>
            This category is intended to allow recognition of productions that do not fit into the standard play/musical categories. Special Events include, but are not limited to, cabarets, improvisational acts, variety acts, or any production with a limited run as determined by the Awards Committee.
          <h3>Outstanding New Script</h3>
            This award pertains to a premier production of a play or musical. The  script may be an adaptation of an existing work or completely original. Consider the quality of the script rather than that of the production or performances within it.
          <h3>Outstanding Choreographer</h3>
            In addition to traditional musical theatre choreography this may also  apply to movement used in non-musicals as well as fight choreography.
          <h3>Outstanding Performance by a Youth Actor/Actress</h3>
            This award is reserved for actors less than 18 years of age or who were in high school at the time of the production. You may nominate for performances in both musical and comedy/drama productions. If the number of nominations warrants it this award may be divided into both a musical and a comedy/drama category on the final ballot.
          <h3>Outstanding Performance by an Ensemble</h3>
            This award is designed to recognize an outstanding scene in a play or  musical OR outstanding work by a group of actors or technicians. The emphasis of the award is on the effective and imaginative integration of several roles with respect to the nominated scene or group of actors/  technicians. This award cannot be awarded to an entire production or to the entire cast of a production unless the entire cast is involved in a nominated scene from a single production. In the case of multiple nominees from a single production, only the nominee from that production with the  highest number of total votes will advance to the final ballot.<br>
        </div>
      </div>
    <a href="#" id="show_special_awards_text" style="display: block">Click Here for Info about TAG Special Awards</a>
    <div id="showSpecialAwardsInfo" class="modal">
      <div class="modal-content">
        <span id="closeSpecialInfo" class="close">×</span>
        <h2>TAG SPECIAL AWARDS</h2>
          The following are special TAG award categories. These award recipients are nominated by members of the theatre community. Special Awards Nominations may be submitted via email to <u>info@theatreartsguild.com</u> (Type <b>TAG AWARDS Special Award​s in</b> the subject line), <u>OR</u> by mail to: TAG Awards - Special Awards, c/o
          Katie Cameron, 8134 S. 69th Street, La Vista, NE 68128 <u>OR</u> you may include it when you submit your TAG Nomination ballot (it will be separated out before your ballot is tabulated, so that you stay anonymous).
          Please include in the nomination:<br>
          ● Your name<br>
          ● Your contact information - phone number and email address<br>
          ● Which theatre organization you are affiliated with (if relevant)<br>
          ● The name of the person you are nominating<br>
          ● At least two paragraphs, typed in essay form, explaining why you are nominating the individual for the specific award and what their special qualities are.
        <h3>THEATRE EDUCATOR AWARD</h2>
          This award honors one individual who has shown outstanding achievement educating others about theatre, thereby enhancing their theatre knowledge, skills or understanding and enjoyment of the art. Please describe the achievements and attributes of the nominee with as much specificity as possible. A college trained teaching background is not a necessary requirement. The TAG Board of Directors will select a recipient from the nominations received, but reserves the right to not select a recipient during any given year. Only the award recipient(s) will be announced at the TAG Awards.
        <h3>BACKSTAGE AWARD</h2>
          This award honors outstanding achievement, by one or more individuals, in work backstage. The nomination should be based on evidence of perseverance and professionalism behind the scenes. All areas in the backstage work are eligible, including but not limited to: properties handling, set dressing, stage management, light operation, sound operation, dressing/makeup/hair assistance, construction work, etc.
        <h3>YOUTH TECH AWARD</h3>
          This award honors outstanding achievement, by one or more individuals, in work backstage ​<b><u>under 18​ years of age OR in high school​</u></b> at the time of the production. The nomination should be based on evidence of perseverance and professionalism behind the scenes. All areas in the backstage work are eligible, including but not limited to: properties handling, set dressing, stage management, light operation, sound operation, dressing/makeup/hair assistance, construction work, etc. The recipients of the Backstage​and Youth Tech Awards​will be selected by the Awards Committee, who reserves the right to not select a recipient during any given year. Only the award recipient(s) will be announced at the TAG Awards.<br>
        </div>
      </div>

      <%= form_for :nomination, url: {controller: "nominations", action: "save_nominee"} do |n| %>   
        <div class="award_nomination_category">
          <% @awards.each do |award|%>
            <h3 id="<%= award.label%>"><%= award.award_name %></h3>
            <div class="award_nomination_row">
              <% nomination_count = 0 %>  
              <% while nomination_count <= 4 %>
                <% if award.relevant_fields != 1 %>
                  Theater:  <input class="theater_input" type="text" name="awards[<%= award.id %>][nominations[<%= nomination_count %>][theater]]" value="<%= current_user.nomination_value(award.id, nomination_count, "theater")%>">
                  Show:  <input type="text" name="awards[<%= award.id %>][nominations[<%= nomination_count %>][show]]" value="<%= current_user.nomination_value(award.id, nomination_count, "show") %>">
                <%end%>
                <% if award.relevant_fields >= 3 || award.relevant_fields == 1 %>
                  <br>
                  Nominee:  <input class="theater_input" type="text" name="awards[<%= award.id %>][nominations[<%= nomination_count %>][nominee]]" value="<%= current_user.nomination_value(award.id, nomination_count, "nominee") %>">
                <% end%>
                <% if award.relevant_fields >= 4 %>
                  Role:  <input class="theater_input" type="text" name="awards[<%= award.id %>][nominations[<%= nomination_count %>][role]]" value="<%= current_user.nomination_value(award.id, nomination_count, "role") %>">
                <% end %>
                <br><br>
                <% nomination_count += 1 %>
              <% end %> <!-- ends nom count loop  -->        
            </div> <!-- closes award nom row div -->
          <% end%> <!-- closes award each loop -->
        </div> <!-- closes award nomination category -->
        <%= submit_tag("Save Nomination Ballot") %>
      <% end %><!--  ends nom form loop -->
    </div> <!-- closes nom_form div -->
  </div> <!-- closes 'container' div -->
</div> <!-- closes nom ballot container -->
<% else %>
  <H1>We're sorry! Nominations are now closed for the 2016 TAG Awards!</H1>
  <h2>Thank you to everyone who voted. Ballots for final voting will be available soon!</h2>
<% end %>