<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<% if @ballot_status == "nominations"%>

<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
        <div class="headline">
          <h1 class="nominations_title">TAG Award Nominations <%= Time.now.strftime("%Y") %></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <ul class="award_links" id="sticky_award_links">
      <div class="award_links_heading">
        Award Categories
      </div>
      <div class="award_links_instructions">
        Click on any Award Category on this list to get the nomination ballot for that category. No searching needed. Let the right section come to you. 
      </div>
      <% @awards.each do |award| %>
        <li><a class="award_link" href="#<%= award.label%>"><%= award.award_name%></a></li>
      <% end %>
    </ul>
    <div class="nominations_form">
      <div id="award_explanations">
        <a href="/files/AwardExplanations.pdf" target="_blank">Click Here for an Explanation of Award Categories</a><br>
        <a href="/files/SpecialAwards.pdf" target="_blank">Click Here for Info about TAG Special Awards</a><br>
        <a href="/files/VotingResource.xlsx" target="_blank">Click Here for a helpful voting resource</a><br>
      </div>
      <% #award_counter = 0 %>
      <%= form_for current_user, url: user_nominations_path do |f| %>
        <% @awards.each do |award| %>
          <% #nom_counter = 0 %>
          <div class="award_category_title" id=<%= award.label %>><%= award.award_name %></div>
          <div class="award_description"><%= award.description %></div>
          <% noms_array = PotentialNomination.where(award_id: award.id) %>
          <% noms_array = noms_array.sort_by &:display_name %>
          <% noms_array = noms_array.map { |nom| [nom.display_name, nom.id] } %>
          <% 5.times do %>
            <%= fields_for :nomination do |n| %>
              <%= n.select(:nomination, options_for_select(noms_array), {prompt: 'Select a nomination'}, { name: 'nominations[]', :class => 'nom_box' }) %>
              <% #nom_counter += 1 %>
            <% end %>
            <% #award_counter += 1 %>
          <% end %>
        <% end %>
        <%= f.submit "SUBMIT", class: "form-submit-button" %>
      <% end %>
    <p>If you feel a potential nomination is missing from any of the awards, please <a href="mailto:someone@nowhere.com">contact us!</a></p>
    </div>
  </div>
</div>
<% else %>
  <h1>We're sorry! Nominations are now closed for the <%= Time.now.strftime("%Y") %> TAG Awards!</h1>
  <h2>Thank you to everyone who voted. Ballots for final voting will be available soon!</h2>
<% end %>
</div>