<h1>Nomination Ballot</h1>

<!-- need to enter data for user's viewings here -->

<%= form_tag('/save_nominee') do %>
  <% @awards.each do |a| %>
    <%= a.award_name %><br>
      <% @award_id = a.id %>

      Theater: <input type="text" name="theater<%=a.id%>_1">
      <br>

      Show: <input type="text" name="show<%=a.id%>_1">
      <br>

      Performer: <input type="text" name="performer<%=a.id%>_1">
      <br>

      Role: <input type="text" name="role<%=a.id%>_1">
      <br>
      <br>

      <!-- <button type='button'>Save (doesn't work yet)</button><br> -->
      <!-- ^ hopefully to save works in progress -->
      <br>
  <% end %>
  <input type="submit" value="Submit Nominations">
  <!-- ^ to replace wips in db and save current fields as final noms -->
<% end %>