<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<% if @ballot_status == "nominations"%>

<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
        <div class="headline">
          <h1 class="nominations_title">TAG Award Nominations <%= Time.now.strftime("%Y") %></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <ul class="award_links" id="sticky_award_links">
      <div class="award_links_heading">
        Award Categories
      </div>
      <div class="award_links_instructions">
        Click on any Award Category on this list to get the nomination ballot for that category. No searching needed. Let the right section come to you. 
      </div>
      <% @awards.each do |award| %>
        <li><a class="award_link" href="#<%= award.label%>"><%= award.award_name%></a></li>
      <% end %>
    </ul>
    <div class="nominations_form">
      <div id="award_explanations">
        <a href="/files/AwardExplanations.pdf" target="_blank">Click Here for an Explanation of Award Categories</a><br>
        <a href="/files/SpecialAwards.pdf" target="_blank">Click Here for Info about TAG Special Awards</a><br>
        <a href="/files/VotingResource.xlsx" target="_blank">Click Here for a helpful voting resource</a><br>
      </div>
    <%= form_for current_user, url: {controller: "nominations", action: "save_nominees"} do |n| %>
      <%= form_for current_user, url: user_viewings_path do |f| %>
        <% @plays.each do |p| %>
          <p>
            <label>
              <%= f.check_box :viewings, {name: "user[viewings][]", id: nil, checked: current_user.has_viewed?(p)}, p.id, nil %>
              <strong><%= p.title %></strong> (at <%= p.theater.name %>)
            </label>
          </p>
        <% end %>
      <%= submit_tag "Save Nomination Ballot", class: "form-submit-button" %>

    <% end %>
    <p>If you feel a potential nomination is missing from any of the awards, please <a href="mailto:someone@nowhere.com">contact us!</a></p>
    </div>
  </div>
</div>
<% else %>
  <h1>We're sorry! Nominations are now closed for the <%= Time.now.strftime("%Y") %> TAG Awards!</h1>
  <h2>Thank you to everyone who voted. Ballots for final voting will be available soon!</h2>
<% end %>
</div>