<h1>Nomination Ballot</h1>

<!-- need to enter data for user's viewings here -->

<%= form_tag('/save_nominee') do |f| %>
  <% @awards.each do |a| %>
    <%= a.award_name %><br>
      <% @award_id = a.id %>
      <% binding.pry %>

      Theater: <%= f.label :theater %>
      <%= f.text_field :theater %>
      <br>

      Show: <%= f.label :show %>
      <%= f.text_field :show %>
      <br>

      Performer: <%= f.label :performer %>
      <%= f.text_field :performer %>
      <br>

      Role: <%= f.label :role %>
      <%= f.text_field :role %>
      <br>
      <br>

      <!-- <input type="" value="This doesn't do anything yet."><br>  -->
      <!-- ^ hopefully to save works in progress w/o going to database? -->
      <br>
  <% end %>
      <input type="submit" value="Submit Nominations">
<% end %>