<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<% if session[:nominations_closed] == false %>
<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
        <div class="headline">
          <h1 class="nominations_title">TAG Award Nominations <%= Time.now.strftime("%Y") %></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <ul class="award_links" id="sticky_award_links">
      <div class="award_links_heading">
        Award Categories
      </div>
      <div class="award_links_instructions">
        Click on any Award Category on this list to get the nomination ballot for that category. No searching needed. Let the right section come to you. 
      </div>
      <% @awards.each do |award| %>
        <li><a class="award_link" href="#<%= award.label%>"><%= award.award_name%></a></li>
      <% end %>
    </ul>
    <div class="nominations_form">
      <div id="award_explanations">
        <a href="/files/AwardExplanations.pdf" target="_blank">Click Here for an Explanation of Award Categories</a><br>
        <a href="/files/SpecialAwards.pdf" target="_blank">Click Here for Info about TAG Special Awards</a><br>
        <a href="/files/VotingResource.xlsx" target="_blank">Click Here for a helpful voting resource</a><br>
      </div>

    <%= form_for :nomination, url: {controller: "nominations", action: "save_nominees"} do |n| %>  
      <% award_counter = 0 %> 
      <% @awards.each do |award| %>
        <% prev_award_noms = @prev_noms[award_counter] %>
        <div class="award_category_title" id=<%= award.label %>><%= award.award_name %></div>
        <div class="award_description"><%= award.description %></div>
        <% nomination_counter = 0 %>
        <% while nomination_counter <= 4 %>
          <select name="noms[[<%= award.id %>][<%= nomination_counter %>]]">
          <option value="0" <%= prev_award_noms[nomination_counter] == 0 ? "selected" : "" %>>-- Select a nominee --</option>
          <% @nominations[award.id].each do |key, value| %>
            <option value=<%= key %> <%= prev_award_noms[nomination_counter] == key ? "selected" : "" %>><%= value %></option>
          <% end %>
          </select>
          <br>
          <% nomination_counter += 1 %>
        <% end %>
        <% award_counter += 1 %>
      <% end %>
      <%= submit_tag("Save Nomination Ballot") %>
    <% end %>
    </div>
  </div>
</div>
<p class="center">If you feel a potential nomination is missing from any of the awards, please contact us!</p>
<% else %>
  <h1>We're sorry! Nominations are now closed for the <%= Time.now.strftime("%Y") %> TAG Awards!</h1>
  <h2>Thank you to everyone who voted. Ballots for final voting will be available soon!</h2>
<% end %>