<h1>Nomination Ballot</h1>

<!-- Award #3 - Best Actress

<input type="text" name="awards[3][nominations[0][theater]]" value="">
<input type="text" name="awards[3][nominations[0][show]]" value="">
<input type="text" name="awards[3][nominations[0][nominee]]" value="">
<input type="text" name="awards[3][nominations[0][role]]" value=""> -->

<%= form_for :nomination, url: {controller: "nominations", action: "save_nominee"} do |n| %>
  <% @awards.each do |a| %>
    <%= a.award_name %><br>
    <% nomination_count = 0 %>
      <% while nomination_count <= 4 %>
      
        <div class="award_nomination_row">
        Theater:  <input type="text" name="awards[<%= a.id %>][nominations[<%= nomination_count %>][theater]]" 
          value="">
        Show:  <input type="text" name="awards[<%= a.id %>][nominations[<%= nomination_count %>][show]]" 
          value="">
        Nominee:  <input type="text" name="awards[<%= a.id %>][nominations[<%= nomination_count %>][nominee]]" 
          value="">
        Role:  <input type="text" name="awards[<%= a.id %>][nominations[<%= nomination_count %>][role]]" 
          value="">
        </div>

        <% nomination_count += 1 %>
      <% end %>
  <% end %>

  <input type="submit" value="Save">
  <!-- ^ to replace wips in db and save current fields as final noms -->
<% end %>