<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

<% if @ballot_status == "nominations"%>

<div class="nomination_ballot_container">
  <header> 
    <div class="clear">
      <div class="col-12">
        <div class="headline">
          <h1 class="nominations_title">TAG Award Nominations <%= Time.now.strftime("%Y") %></h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <ul class="award_links" id="sticky_award_links">
      <div class="award_links_heading">
        Award Categories
      </div>
      <div class="award_links_instructions">
        Click on any Award Category on this list to get the nomination ballot for that category.
      </div>
      <% @awards.each do |award| %>
        <li><a class="award_link" href="#<%= award.label%>"><%= award.award_name%></a></li>
      <% end %>
    </ul>
    <div class="nominations_form">
      <div id="award_explanations">
        <a href="https://goo.gl/forms/e2lvUyNaGZmYfipu2" target="_blank">Click Here to Nominate for the following Awards:</a><br>
        Outstanding Performance By An Ensemble<br>
        Theatre Educator Award<br>
        Backstage Award<br>
        Youth Tech<br><br>

        If you feel a potential nomination is missing from any of the awards, please <a href="mailto:awards@theatreartsguild.com">contact us!</a><br>
      </div>

      <% award_counter = 0 %>
      <%= form_for current_user, url: user_nominations_path do |f| %>
        <% @awards.each do |award| %>
          <% nom_counter = 0 %>
          <div class="award_category_title" id="<%= award.label %>"><%= award.award_name %></div>
          <div class="award_description"><%= award.description %></div><br>

          <% select_array = @current_noms[award_counter] %>
          
          <% 5.times do %>
            <%= fields_for :nomination do |n| %>
              <%= n.select(:nomination, options_for_select(award.options_for_select, select_array[nom_counter]), {prompt: 'Select a nomination'}, { name: 'nominations[]', :class => 'nom_box' }) %>
            <% end %>
            <% nom_counter += 1 %>
          <% end %>
          <% award_counter += 1 %>
          <br>
        <% end %>
        <br>
        <p>You can save your ballot now <strong>and come back later to add/remove/change nominations.</strong> You can save it multiple times, so don't worry about remembering everyone that you want to nominate right now. You can come back later and revise your nominations.</p>
        <%= f.submit "SAVE", class: "form-submit-button" %>
      <% end %>
    
    </div>
  </div>
</div>
<% else %>
  <h1>We're sorry! Nominations are now closed for the <%= Time.now.strftime("%Y") %> TAG Awards!</h1>
  <h2>Thank you to everyone who voted. Ballots for final voting will be available soon!</h2>
<% end %>
</div>