
<!--   create_table "ballot_items", force: :cascade do |t|
    t.string   "nominee"
    t.string   "role"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer  "award_id"
    t.integer  "play_id"
  end
 -->

<% @approved_ballots.each do |ballot| %>
 <h2> <%= nom.award.award_name %> </h2>
    Nominee: <%= ballot.nominee %> <br>
    Role: <%= ballot.role %> <br> 
    Play: <%= ballot.find_by_play_id(self.play_id).title %> <br>
    Theater: <%= ballot.find_by_play_id(self.play_id).theater %> <br>
<% end %>
