
<!--   create_table "ballot_items", force: :cascade do |t|
    t.string   "nominee"
    t.string   "role"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.integer  "award_id"
    t.integer  "play_id"
  end
 -->

<% @nominations.each do |nom| %>
  <% if nom.approved == true %>
   <h2> <%= nom.award_id %> </h2>
          Nominee: <%= nom.nominee %> <br>
          Role: <%= nom.role %> <br> 
          Play: <%= nom.show %> <br> 
          Theater: <%= nom.theater %> <br>
  <% else %>
  <% end %>
<% end %>
