<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
<%- if user_signed_in? %>
    <div class="clear nav-bar">
      <div class="col-3 logo">
        <img src="//theatreartsguild.com/wp-content/uploads/2014/05/TAG-Website-Elements-logo2.png" alt="Celebrating Live Theatre for Over 35 Years!">
      </div>

      <div class="col-2 nav-link">
        <a href="/users/home">Dashboard</a>
      </div>

      <div class="col-2 nav-link">
        <a href="/nominations/nomination_ballot">Nominations</a>
      </div>

      <div class="col-2 nav-link">
        <a href="ballots_page">Ballots</a>
      </div>

      <div class="col-2 nav-link">
        <a href="settings_page">Settings</a>
      </div>

      <div class="col-1 nav-link">
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </div>
    </div>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end -%>
  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
